*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.output {
  grid-column: 1 / -1; /* Spans all columns */
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.calculator-grid > button:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5), 0 0 0 6px rgba(0, 170, 255, 0.7); /* Custom focus ring */
}

.calculator-grid > button.operator {
  background-color: rgba(255, 165, 0, 0.75); /* Orange-ish */
}

.calculator-grid > button.operator:hover {
  background-color: rgba(255, 165, 0, 0.9);
}

.calculator-grid > button.span-two {
  grid-column: span 2;
}

.calculator-grid > button.clear {
  background-color: #FF6347; /* Tomato red */
}

.calculator-grid > button.clear:hover {
  background-color: #FF4500; /* Orange Red */
}

.calculator-grid > button.equals {
  background-color: #20B2AA; /* Light Sea Green */
}

.calculator-grid > button.equals:hover {
  background-color: #008B8B; /* Dark Cyan */
}